body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.displayNone {
    display:none;
}

.customModal {
    padding:20px;
    width:300px;
}

.left {
    float:left !important;
}
.right {
    float:right !important;
}

.cookieThumbs {
    margin:15px 0;
}

.cookieThumbs ul {
    margin:0;
}

.cookieThumbs li {
    list-style-type:none;
    float:left;
    margin-right:2px;
}

.cookieThumbs li a {
    position:relative:
}
.cookieThumbs li a span {
    width:60px;
    height:60px;
    position:absolute;
    display:none;
}
.cookieThumbs li a i {
    margin:22px 0 0 22px;
}